<div class="container">
  <div class="row">
    <div class="col-xs-4">
    </div>
    <div class="col-xs-4">
  <h1 id="text">Phone Directory</h1>
  <br>
  <!--button to navigate to add a new contact -->
  <button (click)="addanew()" type="button" class="btn btn-primary btn-block btn-lg bgcolor">Add a New Contact</button>
  <br><br>
  <!--button to navigate to view all contact -->
  <button (click)="viewall()" type="button" class="btn btn-primary btn-block btn-lg bgcolor">View all Contact</button>
  <br><br>
  <!--button to navigate to search a contact -->
  <button (click)="searchacom()" type="button" class="btn btn-primary btn-block btn-lg bgcolor">Search a Contact</button>
  </div>
  <div class="col-xs-4">
    </div>
  </div>
</div>